<div>
  <label for="instrument">Choose an Instrument:</label>
  <select id="instrument" [(ngModel)]="selectedSymbol" (change)="onInstrumentSelect()">
    <option *ngFor="let instrument of instruments" [value]="instrument.symbol" [attr.data-id]="instrument.id">
      {{ instrument.symbol }}
    </option>
  </select>
</div>

<div *ngIf="selectedAsset">
  <h3>Asset Data for {{ selectedAsset.symbol }}:</h3>
  <div>
    <p><strong>Price:</strong> {{ selectedAsset.price  }}</p>
    <p><strong>Time:</strong> {{ selectedAsset.timestamp }}</p>
    <p><strong>Change:</strong> {{ selectedAsset.change }} ({{ selectedAsset.changePct }}%)</p>
  </div>
</div>

<div *ngIf="!selectedAsset">
  <p>Please select an instrument from the dropdown to view its data.</p>
</div>
