header {
  background-color: var(--primary-color);
  padding: 20px 24px;
  top: 0;
}

button {
  padding: 5px 15px;
  font-family: inherit;
  font-size: 18px;
  color: #9E9E9E;
  background: none;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

button.active {
  color: var(--light-color);
  background-color: var(--button-active-color);
}

button:hover {
  color: var(--light-color);
}
